<div class="container">
  <%= link_to "Recevoir un email", emails_path(@email), method: :post, remote: true, :class => "btn btn-success mb-4" %>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Liste des emails</th>
        <th scope="col">Email sélectionné</th>
      </tr>
    </thead>
    <tbody id ="mailbox">
      <% @emails.each do |email| %>
        <tr>
          <td><a href="#" class="text-decoration-none text-dark"><%= email.object %></a></td>
          <% if email == @emails.first %>
            <div class="d-flex flex-column">
              <td rowspan= <%= @emails.length %>>
              <%= email.body %>
              <div class="align-self-end">
                <%= link_to "Supprimer", email_path(email), method: :delete, remote: true, :class => "btn btn-sm btn-outline-danger m-2" %>
                <%= link_to "Marquer comme non-lu", new_email_path, remote: true, :class => "btn btn-sm btn-outline-info m-2" %>
              </div>
              </td>
            </div>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>